{:generation 2, :traits [:curious :grateful :creative :playful :playful], :mutations [{:gen 0, :added :playful, :time #inst "2025-09-17T05:51:21.509-00:00"} {:gen 1, :added :playful, :time #inst "2025-09-17T05:51:21.511-00:00"}]}